*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 100%;
    max-height:100vh;
    background-color: hsl(210, 46%, 95%);
    font-size: 60%;
}

.block1 {
    grid-area: b1;
}
.block2 {
    grid-area: b2;
}
.block3 {
    grid-area: b3;
}
.block4 {
    grid-area: b4;
}
.block5{
    grid-area: b5;
}

.container {
    display: flex;
    justify-content: center;
}

.main {
    /* align-items: center; */
    margin: 8rem 3rem;
    max-width: 30rem; 
    display: grid;
    grid-auto-rows: auto auto;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(4, 23rem); */
    /* grid-template-areas:
      "b1 b1 b2 b5"
      "b3 b4 b4 b5"; */
      grid-template-areas:
        'b1'
        'b2'
        'b3'
        'b4'
        'b5';
    row-gap: 2rem;
}


.block{
        padding: 2rem;
        box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
        border-radius: 1rem;

}

.block1 {
    background-color:  hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 90% 0;
    color:white
}
.block2 {
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.block3 {
    background-color: white;
    color: hsl(217, 19%, 35%);
}
.block4 {
    background-color: hsl(219, 29%, 14%);
    color: white;
}
.block5 {
    background-color: white;
    color:hsl(217, 19%, 35%);
}

.logo {
    border-radius: 50%;
    width: 2.8rem;
    margin-right: 1.5rem;
}

.block1 .logo {
    border: solid 	#d19fe8;
}
.block4 .logo {
    border: solid 	#d19fe8;
}

.info {
    display: inline-block;
}

.name {
    font-size: medium;
    font-weight: 600;

    line-height: 1.3rem;
    margin-bottom: 0.4rem;
}
.des {
    font-size: small;
    font-weight: 500;
    opacity: 0.5;
}

.middle{
    font-size: large;
    font-weight: 600;
    /* line-height: 2.4rem; */
    margin-top: 1rem;
    
}

.bot {
    font-size: medium;
    font-weight: 500;
    /* line-height: 1.8rem; */
    margin-top: 1rem;
    margin-bottom: -1rem;
    opacity: 0.7;
}




/* Mobile: 375px */
@media only screen and (min-width: 600px) and (max-width: 1100px) {
    .main {
        max-width: 60%;
    }
}
/* Desktop: 1440px */
@media only screen and (min-width: 1100px) {
    /* .main {
        align-items: center;
    } */

    .main {
        max-width: 90rem;
        /* max-width: 80%; */
        grid-template-columns: repeat(4, 16rem);
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-rows: auto auto;
        grid-template-areas:
            "b1 b1 b2 b5"
            "b3 b4 b4 b5";
        gap: 2rem 2rem;
    }
}
